/* Скидання стилів */
/* @import url("reset.css"); */
a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

h1{
	 color: red;
}
.header-container .link{
	color: rgb(168, 6, 141);
}

#climate-heading{
	color: green;
}
[class*="population"]{
	color: yellow;
}
.main-content.religion{
	color: orange;
}
.timezone,.transport{
	color: purple;
}

.zona + .car{
	color: rgb(221, 14, 49);
}
.box ~ p{
	color: rgb(160, 143, 146);
}
div.box{
	color: blueviolet;
}
.zona *{
	color: rgb(15, 6, 191);
}
