@import url("reset.css");
@import url("fonts.css");
.wrapper{
	overflow: clip;
	min-height: 100%;
}
.container{
	max-width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px; 
}
[class*="_container"] {
	max-width: 1290px;
	padding: 0 10px ;
	margin: 0 auto;
}
.ecobazar{
	max-width: 648px;
	margin: 0 auto;
	color: #808080;
	font-family: "Poppins", sans-serif;
	
}
p{
	margin-bottom: 20px;
}
.ecobazar-list li{
	background-image: url('../img/icon/Check.svg');
	background-repeat: no-repeat;
	padding-left: 28px;
	min-height: 20px;
	margin-bottom: 14px;
}
.hydra{
background-color: #302C42;
padding: 30px 0px 50px;
}
.hydra_header{
margin-bottom: 50px;
margin-right: 84px;
margin-left: 84px;
max-width: 1272px;
margin: 0 auto;
}
.hydra_content{
	margin-bottom: 50px;
}
.hydra_content ul{
background: linear-gradient(90deg,rgba(33, 30, 46, 1) 0%, rgba(58, 52, 86, 1) 50%, rgba(33, 30, 46, 1) 100%);
padding: 26px 40px;
border-radius: 90px;
box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
color: #fff; 
}
.hydra_content p {
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	margin-bottom: 10px; 
}
.hydra_content ul li{
	display: inline-block;
}
.location {
	background: url(../img/icon/Location-Icon.svg) 0 50% no-repeat;
	background-size: 40px 60px;
	border-right: 1px solid rgb(192, 183, 232, 0.3);
	margin-right: 40px;
	padding: 20px 60px;
}
.tell {
	background: url(../img/icon/phone-call.svg) 0 50% no-repeat;
	background-size: 51px 51px;
	border-right: 1px solid rgb(192, 183, 232, 0.3);
	margin-right: 40px;
	padding: 20px 60px 20px 80px;
}
.email {
	background: url(../img/icon/mail.png) 0 50% no-repeat;
	background-size: 55px 45px;
	padding: 20px 60px 20px 80px;
}
.hydra_bottom{
	background: url(../img/icon/line.png) 43% 0% no-repeat;
}
.hydra_img{
	display: inline-block;
   margin-right: 100px;
}
.hydra_img img{
	border-radius: 100px 240px ;
}
.hydra_bottom_content{
	display: inline-block;
	vertical-align: top;
	max-width: 630px;
	font-family: "Montserrat", sans-serif;
	padding-top: 52px;
	color: #fff;
	}
.hydra_bottom_tittle{
	margin-bottom: 42px;
	}
.hydra_bottom_tittle h2{
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	}
.hydra_bottom_tittle span{
	font-size: 36px;
	font-weight: 200;
	}
.hydra_bottom_text{
	font-size: 16px;
	margin-bottom: 28px;
	}
.hydra_bottom_button{
border-radius: 40px;
background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
text-transform: uppercase;
padding: 17px 40px;
font-size: 12px;
font-weight: 700;
}